<%- include('partials/header') %>

<h1>Liste des étudiants de la promo : <%= promo.name %></h1>
<% for(const student of studentsFound) {%>
<ul class="cards">
    <li class="card">
        <a href="students/<%= student.id %>">
            <figure>
                <img src="http://lorempixel.com/500/500/abstract" alt="">
                <figcaption>Prénom : <%= student.first_name %> nom : <%= student.last_name %></figcaption>
            </figure>
        </a>
    </li>
<% } %>
<nav class="pagination">
    <ul>
        <li><a href="#">Précedent</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><span>2</span></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Suivant</a></li>
    </ul>
</nav>

<%- include('partials/footer') %>